<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="nav">
        <img src="Spin T final logo.png" alt="Company Logo" width="40px">
        <nav>
            <button type="button"><span></span> <a href="home_page.html">Home</a> </button>
            <button type="button"><span></span> <a href="profile.html">Profile</a> </button>
            <button type="button"><span></span> <a href="sign-in.html">Sign In</a></button>
            <button type="button"><span></span> <a href="sign-up.html">Sign Up</a></button>
            <button type="button"><span></span> <a href="Journy_pricing.html">Journey Price</a></button>
        </nav>
    </div>
    <div class="profileContainer">

        <div class="userInfo">
            <div class="avatar"><img src="profile.png" alt="avatar"></div>
            <div class="list">
                <ul>
                    <li>
                        <a href="home_page.html">Home</a>
                    </li>
                    <!-- <li>
                                Support
                            </li> -->
                    <li>
                        Log Out
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightinfo">
            <div class="GeneralInformation">
                <p>Username : <span>{Username}</span> </p>

                <!-- <p>Gender : <span>{Gender}</span> </p>
                    
                <p>Country : <span>{Country}</span> </p>
                    
                        
                <p>Rides : <span>{Rides}</span> </p>
                        Offer !
                        <div class="OfferCounter">
                                <div class="fill"></div>
                        </div> -->

            </div>
            <hr>
            </hr>
            <div class="personalInformation">
                <p>E-mail : <span>{E-mail}</span> </p>
                <!-- <p>Number : <span>{Number}</span> </p>
                    <p>Date Of Birth : <span>{Date Of Birth}</span> </p> 
                    <p>ID : <span>{ID}</span></p> -->
            </div>
        </div>
    </div>
</body>

</html>